body{
    font-family: 'Lato', sans-serif;
}

.header_top {
    background: #0c0c0c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbar .header_menu> li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}

/* @media screen and (max-width: 991px) and (min-width: 768px).toolbar .header_menu> li a {
    padding: 0 10px;
} */

.toolbar .header_menu> li a {
    display: inline-block;
    color: #eae5e5;
    font-size: 14px;
    line-height: 70px;
    border-left: 1px solid #303030;
}

.log_in a i, .toolbar a i {
    font-size: 14px;
    color: #fff;
    margin-right: 11px;
    vertical-align: middle;
}

.toolbar .icon_down {
    color: #ababab;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 0;
}

.log_in a i, .toolbar a i {
    vertical-align: middle;
}

.lang_menu {
    position: absolute;
    width: 138px;
    padding: 5px;
    left: 0;
    top: 200%;
    background: #0c0c0c;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 12;
    border: 1px solid #303030;
}

.lang_menu{
    transition: .50s ease-in-out;
}

.lang_menu li {
    text-align: center;
    font-size: 14px;
    color: #eae5e5;
    padding: 5px;
}

.toolbar .header_menu> li:last-child a {
    border-right: 1px solid #303030;
}

.toolbar .header_menu> li a {
    transition: .50s ease-in-out;
}

.log_in {
    text-align: right;
}

.log_in_info {
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
    display: inline-block;
}

.log_in a {
    display: inline-block;
    color: #eae5e5;
    font-size: 14px;
    line-height: 70px;
}

.log_in span {
    color: #fff;
}

.log_in a {
    display: inline-block;
    color: #eae5e5;
    font-size: 14px;
    line-height: 70px;
}

.log_in a{
    transition: .50s ease-in-out;
}